{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <p><strong>Available Cash:</strong> {{ cash }}</p>
    <form action="/buy" method="post">
        <div class="mb-3">
            {% if symbol == "Shares symbol" %}
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="{{symbol}}" type="text">
            {% else %}
                <input type="hidden" class="form-control mx-auto w-auto" name="symbol" type="text" value="{{symbol}}"> {{symbol}} </input>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="shares " type="number" min="1" step="1">
        </div>
        <button class="btn btn-primary" type="submit">Buy symbol</button>
    </form>
{% endblock %}
